@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* share style */
.display-flex {
  display: flex;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}
.dark-1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
}
.dark-2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.dark-3 {
  font-size: 18px;
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  border: none;
  font-size: 20px;
  height: 54px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
.text-center {
  text-align: center;
}

.container {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
}

/* nav section */
.header {
  padding: 0 70px 0 200px;
  background-color: #fff8f3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.list {
  font-size: 25px;
  margin: 10px 20px;
  text-decoration: none;
  color: #474747;
}
nav ul li {
  list-style: none;
}

/* header section */
.details {
  display: flex;
  justify-content: space-between;
}
.image-size {
  height: 676px;
  width: 584;
}

/* About Me section */

.about {
    margin-top: 130px;
    padding: 20px;
    background-color: #fff8f3;
}
.about-list {
  list-style: none;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

main h2 {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

main ul li {
  margin: 20px;
  padding: 10px;
  justify-content: space-around;
}

/* Do section */

.Do {
    padding: 130px 0px;
    text-align: center;
}
.skills-container {
  display: flex;
  margin-top: 50px;
  gap: 24px;
}
.skill {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resune section */
.btn-cv {
  background-color: #fd6e0a;
  color: white;
  border: none;
  font-size: 20px;
  height: 54px;
  width: 190px;
  border-radius: 10px;
  cursor: pointer;
}

.resume-container {
  margin-top: 113px;
  display: flex;
  gap: 24px;
}

.resume-container hr {
  margin: 30px 0;
}

.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}

.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/* footer section */

footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}

footer .footer-container {
  display: flex;
  gap: 116px;
}

.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}

.footer-container .social {
  max-width: 562px;
}

.footer-container .social p {
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input,
.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
}
